.color-picker-container {
    display: inline-block;
    position: relative;
    left: 0px;
    right: 0px;
  }
  
  .color-picker {
    width: 25px;
    height: 25px;
    border-radius: 25%; 
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 0;
  }
  